.navbar-brand img{
	height:100%;
}
.navbar-brand{
	float: left;
	height: 50px;
	padding: 0px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-default {
    background: #d8d0ae;
    border-color: #d0d0d0;
    height: 8%;
}
.navbar-default .navbar-nav > li > a {
    color: #b5b0b0;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #f6f6f9;
    transition: all 0.5s;
}
.jarak-atas{
	margin-top: 50px;
}
.berubah-menu{
    background-color: transparent;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    width: 100%;
    
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #d8d0ae;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #d8d0ae;
    border-color: #b5b0b0;
}
.btn-primary {
    color: #fff;
    background-color: #d8d0ae;
    border-color: #c1c1c1;
}
a {
    color: #d8d0ae;
    text-decoration: none;
}
a:hover, a:focus {
    color: #d8d0ae;
    text-decoration: underline;
}