.jarak-atas{
	margin-top: 150px;
}
body{
	background-image: url(img/bag.jpg);
	background-size: 100%;
}
.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f9edd8;
    border-color: #ebccd1;
}
.btn-info {
    color: #d67d7d;
    background-color: #f9edd8;
    border-color: #bf9171;
}
.btn-info > li > a{
	color: #555555
	background-color : #f9edd8;
	transition: all 0.5s;
}
.btn-primary {
    color: #a94442;
    background-color: #f9edd8;
    border-color: #ebccd1;
}
.btn-primary:hover {
    color: #f9edd8;
    background-color: #a94442;
    border-color: #ebccd1;
}
a {
    color: #bd5346;
    text-decoration: none;
}
a:hover {
    color: #f9edd8;
    text-decoration: none;
}